h1, h2
{
	text-align: center;
	color: blue;
	
}
h3
{
	color:  #C24641
}
body
{
	background-color:skyblue
}
.nav1				
{
	display: flex;
	justify-content: left;
	font-size: 12;
	max-width: 10%;
	border-color: blue;
	border-style: solid;
	border-radius: 15px;
	background-color:#fbe9e9;
	color: blue;
}
ul li:hover 
{
	background: #69ebf9;
}
.nob li					
{
	list-style-type: none;
}

.div1			
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	border-color: blue;
	border-style: solid;
	border-radius: 15px;
	background-color:#fbe9e9; 
	font-family: cursive;
	width:90%;
	margin-left:75px;
}
.about			
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-color: blue;
	border-style: solid;
	border-radius: 15px;
	background-color:#fbe9e9; 
	font-family: cursive;
	width:90%;
	margin-left:75px;
}
label					/*Generic label styling for the entire website*/
{
	justify-self: right;
}
.login			/*Generic styling for login page*/
{
	font-family: cursive;
	border-color: blue;
	border-style: solid;
	border-radius: 15px;
	height: 250px;
	width: 30%;
	text-align: center;	
	background-color: #fbe9e9;
	margin-left: 400px;
	margin-top: 45px;
}
.log					/*Section styling for login page*/
{
	display: grid;
	grid-row-gap: 1em;
	grid-template-columns: 150px 200px;
	justify-content: flex-start;
	margin-left: 10px;
}
.actcss
{
	display: grid;
	grid-row-gap: 1em;
	grid-template-columns: 200px 550px;
	justify-content: flex-start;
	margin-left: 50px;
	border-color: #8C001A;
	border-style: solid;
	width:90%;
}
.footer 				
{
	display: flex;
	justify-content: center;
	position: fixed;
	left: 0;
	bottom: 2px;
	width: 100%;
	background-color: #19303f;
	color: white;
	text-align: center;
}
table 					/*Generic table styling for the entire website*/
{
  border: 2px;
  border-collapse: collapse;
  width: 90%;
  padding: 25px;
  margin-left:50px;
  
}
th, td					/*Generic table styling for the entire website*/
{
  border: 2px solid #8C001A;
  border-style: inset;
  padding: 25px;
  text-align: left;
}
thead					/*Generic table styling for the entire website*/
{
	font-weight: bold;
	color: white;
	background-color: #8C001A;
}
.activs			/*Generic styling for login page*/
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-color: blue;
	border-style: solid;
	border-radius: 15px;
	background-color:#fbe9e9; 
	font-family: cursive;
	width:90%;
	margin-left:75px;
}
#display
{
	background-color: #DCDCDC;
	font-family: Trebuchet MS;
	font-style: italic;
	width: 30%;	
	margin-left: 400px;
	margin-top: 25px;
}
